body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  font-family: sans-serif;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.piece {
  font-size: 100px;
  font-weight: bold;
}

.board {
  display: grid;
}

.rows {
  display: flex;
}

.squares {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
  font-size: 60px;
  font-weight: bold;
}

.squares:nth-child(3n + 2) {
  border-left: 5px solid blue;
  border-right: 5px solid blue;
}

.row1 {
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
}
